<div class="container">

	<div class="row col-lg-offset-4 col-lg-4">
		<strong>Title:</strong>
		<%= @article.title %>
	</div>

	<div class="row col-lg-offset-4 col-lg-4">
		<strong>Text:</strong>
		<%= @article.content %>
	</div>

	<div class="row col-lg-offset-4 col-lg-4">
		<%= link_to 'Edit', edit_article_path(@article) %>
	</div>

	<div class="row col-lg-offset-4 col-lg-4">
		<%= link_to 'Back', articles_path %>		
	</div>
</div>	
